# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @abjyoti @shankarsrinivas1 @krishnajs @nathsudi @rranjan3 @soniabha-intc @k-mochi @kblaszczak-intel

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @abjyoti @shankarsrinivas1 @krishnajs @nathsudi @rranjan3 @soniabha-intc @k-mochi @kblaszczak-intel
