# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

* @Ram-srini @abjyoti @shankarsrinivas1 @punam20 @ipsita-npg @krishnajs

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @Ram-srini @abjyoti @shankarsrinivas1 @punam20 @ipsita-npg @krishnajs
